<html>
<head>
<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
          // this triggers the connection event in our server!
            var socket = io.connect('http://localhost:8000');
            // we'll write all the socket stuff after the above line!

            $('#epic_form').submit(function() {

                socket.emit('update_count');

                socket.on('updated_count', function (data) {
                  $('#display').html("The button has been pushed: " + JSON.stringify(data.response) + " time(s)");
                });

                return false;
            });

            $('#reset').submit(function() {
                socket.emit('reset_count');
                return false;
            });
        });
    </script>
    <style>
    #wrapper {
      width: 60%;
      margin-left: 10%;
      margin-right: 30%;
      border: 2px solid blue;
    }
    #epic_form{
      margin-left: 35%;
      margin-right: 35%;
    }
     #epic_form input {
      width: 250px;
      height: 100px;
      background-color: blue;
      color: #fff;
      border-radius: 10px;
      font-size: 1.3em;
    }
    #reset{
      margin-left: 60%;
    }
    #reset input{
      width: 100px;
      height: 50px;
      background-color: red;
      color: #fff;
      border-radius: 10px;
    }
    #display {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    </style>
</head>

<body>

<div id="wrapper">
  <div id="display"></div>

<form id="epic_form" action="">
  <input type='submit' value='Push the epic button'>
</form>

<form id="reset" action="">
  <input type='submit' value='Reset count'>
</form>
</div>
</body>
</html>
